In [1]:
%load_ext sql

In [2]:
import configparser
import psycopg2

In [3]:
config = configparser.ConfigParser()
config.read('redshift/dwh.cfg')

['redshift/dwh.cfg']

In [10]:
# connect to default database
conn_string="postgresql://{}:{}@{}:{}/{}".format(config.get("CLUSTER", "DB_USER"), config.get("CLUSTER", "DB_PASSWORD"), config.get("CLUSTER", "HOST"), config.get("CLUSTER", "DB_PORT"), config.get("CLUSTER","DB_NAME"))
print(conn_string)
%sql $conn_string

postgresql://p3_dwhuser:uDac1ty0@p3dwhcluster.cynxv01vfzws.us-west-2.redshift.amazonaws.com:5439/p3_dwh

'Connected: p3_dwhuser@p3_dwh'

In [12]:
%%sql select * from songs
limit 5

* postgresql://p3_dwhuser:***@p3dwhcluster.cynxv01vfzws.us-west-2.redshift.amazonaws.com:5439/p3_dwh
5 rows affected.

[('SOUUERM12AB01850E4', 'Frankie & Johnny', 'ARJIUJH1187B9B84FD', 0, 167.967),
 ('SOIQXOJ12AB018439A', 'Cuban Cigar', 'ARKP23F1187B9A26F9', 1996, 213.394),
 ('SONZOSK12A6D4F8618', 'Highway Robbery', 'AR2R0MS1187B99F6A8', 1994, 209.658),
 ('SODMDEC12AB018BCD4', 'Invisible', 'ARZKRMD1241B9C9F21', 2010, 14.1318),
 ('SOSNQQX12AF729C44C', 'Show You How', 'ARVG4OK1187B9B6BD3', 2004, 166.295)]

In [11]:
%%sql select * from users
limit 5

* postgresql://p3_dwhuser:***@p3dwhcluster.cynxv01vfzws.us-west-2.redshift.amazonaws.com:5439/p3_dwh
5 rows affected.

[(37, 'Jordan', 'Hicks', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (34, 'Evelin', 'Ayala', 'F', 'free')]